{% extends 'base.html' %}

{% block content %}
<div class="container mb-5">
    <div class="d-flex justify-content-between align-items-center">
    <h1 class="my-4">My Inbox</h1>
    <a href="{% url 'messaging:compose_message' %}" class="btn btn-primary"><i class="fa-solid fa-pen-to-square"></i>&nbsp; New Message</a>
</div>
    <ul class="nav nav-tabs mb-4" id="inboxTabs" role="tablist">
        <li class="nav-item">
            <a class="nav-link active" id="received-tab" data-bs-toggle="tab" href="#received" role="tab" aria-controls="received" aria-selected="true">Received</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" id="sent-tab" data-bs-toggle="tab" href="#sent" role="tab" aria-controls="sent" aria-selected="false">Sent</a>
        </li>
    </ul>

    <div class="tab-content" id="inboxTabsContent">
        <div class="tab-pane fade show active" id="received" role="tabpanel" aria-labelledby="received-tab">
            {% if received_threads_data %}
                <div class="list-group">
                    {% for thread_info in received_threads_data %}
                        <a href="{% url 'messaging:view_message' thread_info.latest_message.id %}" class="list-group-item list-group-item-action {% if not thread_info.latest_message.is_read and thread_info.latest_message.recipient == request.user %}list-group-item-info{% endif %}">
                            <div class="d-flex w-100 justify-content-between">
                                <h5 class="mb-1">{{ thread_info.root_subject }}</h5>
                                <small>{{ thread_info.latest_message.timestamp|date:"M d, Y H:i" }}</small>
                            </div>
                            <p class="mb-1">From: {{ thread_info.latest_message.sender.username }}</p>
                            <small>{{ thread_info.latest_message.body|truncatechars:100 }}</small>
                        </a>
                    {% endfor %}
                </div>
            {% else %}
                <p class="mb-5">No received messages.</p>
            {% endif %}
        </div>
        <div class="tab-pane fade" id="sent" role="tabpanel" aria-labelledby="sent-tab">
            {% if sent_threads_data %}
                <div class="list-group">
                    {% for thread_info in sent_threads_data %}
                        <a href="{% url 'messaging:view_message' thread_info.latest_message.id %}" class="list-group-item list-group-item-action">
                            <div class="d-flex w-100 justify-content-between">
                                <h5 class="mb-1">{{ thread_info.root_subject }}</h5>
                                <small>{{ thread_info.latest_message.timestamp|date:"M d, Y H:i" }}</small>
                            </div>
                            <p class="mb-1">To: {{ thread_info.latest_message.recipient.username }}</p>
                            <small>{{ thread_info.latest_message.body|truncatechars:100 }}</small>
                        </a>
                    {% endfor %}
                </div>
            {% else %}
                <p class="mb-5">No sent messages.</p>
            {% endif %}
        </div>
    </div>
</div>
{% endblock %}